* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family:"Helvetica Neue", Helvetica, Arial sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    color:#6F536F;
    margin: auto;
}

.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.header h1 {
    z-index: 50;
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
}
.header img[alt="banner-left"] {
    position: absolute; 
    top: 0; 
    left: 0
}
.header img[alt="banner-right"] {
    position: absolute; 
    bottom: 0; 
    right: 0;
}

.header-text-top-line{
    margin-top: 94px;
}

.header-text-bottom-line{
    margin-bottom: 58px;
}

/* BODY */
.body{
    padding: 70px 25px;
    max-width: 900px;
}

.body h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

/* BODY CARDS */
.card {
    display: flex;
    justify-content: space-between;
    flex-basis: 55%;
    gap: 25px;
    margin: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 47px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.0462706);
    background-color: white;
    transition: all 0.2s ease;
}

.card img{
    width: 150px;
    height: 150px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 55%;
    gap: 25px;
    align-items: flex-start;
}

.card-title {
    font-weight: bold;
    font-size: 18px;
}

.card-description {
    font-size: 13px;
    text-align: left;
}

/* BODY CELLS */
.cells-container {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.cells-container .cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 46%;
}

.cell img{
    margin-bottom: 30px;
    margin-top: 50px;
    width: 60px;
    height: 60px;
}

.cell-title{
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    line-height: 15px;
    margin-bottom: 8px;
}

.cell-description{
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* BUTTONS */
.header-button, .card-button, .secondary-button {
    cursor: pointer;
    z-index: 100;
    color:#6F536F;
    padding: 5px 22px;
    font-weight: 500;
    letter-spacing: 0.09px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.093226);
    margin-bottom: 20px;
    transition: all 0.2s ease;
}
.header-button{
    background-color: white;
}
.card-button, .secondary-button{
    border: 2px solid #6F536F;
    border-radius: 5px;
    background-color: transparent;
}
.card-button{
    width: 100%;
}
.header-button:hover {
    box-shadow: 0px 4px 10px rgba(0,0,0, 0.153226);
}

/* FOOTER */
.footer {
    max-width: 100%;
    gap: 10px;
    padding: 8px 0 14px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.follow {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -0.25px;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px;
}
.socials img{
    width: 18px;
    height: 18px;
}
.rights {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.08px;
    text-align: center;
}

@media (width > 800px) and (width < 1200px) {
    .card {
      min-height: 225px;
    }
}

@media screen and (max-width: 600px) {
    .body h2 {
        font-size: 30px !important;
        padding: 0 5% !important;
    }
    .card {
      padding: 20px !important;
      justify-content: center !important;
    }
    .card .card-body {
      align-items: center !important;
      gap: 10px !important;
      flex-basis: 100% !important;
      order: 1 !important;
    }
    .card .card-body p {
      text-align: center !important;
    }

    .card-title{
        font-size: 24px !important;
        padding: 7% 0% !important;
    }

    .card-description{
        font-size: 19px !important;
    }

    .cell{
        justify-content: flex-start !important;
    }

    .cell-title{
        font-size: 24px !important;
        padding: 7% 0% !important;
    }

    .cell-description{
        font-size: 19px !important;
    }

    .header-button, .card-button, .secondary-button {
        font-size: 17px !important;
    }

    .follow{
        font-size: 25px !important;
    }

    .rights{
        font-size: 20px !important;
    }
}